<meta charset="utf-8" />
<h2>用户体系</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>用户体系主要分为：【用户】、【心得】、【任务】三个主要模块；</li>
	<li>主要供用户运营人员（小答应）使用；</li>
</ol>

<h3>用户列表</h3>
<h4>查询</h4>
<ol class="ui list">根据以下条件筛选查询符合要求的用户（多选，取并集）：
	<li>会员等级：选项为：非会员、普通会员、白银、黄金、白金、铂金、钻石；</li>
	<li>标签：所有既定的用户标签；</li>
	<li>城市：省市联动，既定的地区数据；</li>
	<li>过期时间：日期选择器；</li>
	<li>年龄：【年份】到【年份】，是一个区间，如：25岁到30岁。根据用户生日进行判断；</li>
	<li>行业：既定的行业数据；</li>
	<li>性别：男/女；</li>
	<li><mark>其他条件将根据用户运营团队的需求不断更新；</mark></li>
	<li>筛选后在用户列表上方显示选定的筛选条件，以及用户总数、符合条件的人数、占比；具体下方原型图；</li>
</ol>

<h4>搜索用户</h4>
<ol class="ui list">
	<li>目前仅支持根据用户id搜索用户即可；</li>
</ol>

<h4>用户详情</h4>
<ol class="ui list">
	<li></li>
	<li>左上角显示指定用户的头像、姓名、一句话介绍，方便运营人员识别用户；</li>
	<li>上方显示【连续打卡】、【关注】、【粉丝】和【优币】四项数据；</li>
	<li>个人资料：运营人员可以编辑此项内的所有信息，点击右上角编辑按钮后显示弹出层进行修改，具体包括以下内容：
		<ol>
			<li>昵称</li>
			<li>性别</li>
			<li>生日</li>
			<li>城市</li>
			<li>行业</li>
			<li>学校</li>
			<li>一句话介绍</li>
			<li>邮寄地址</li>
			<li>微信号</li>
			<li>个性标签</li>
		</ol>
	</li>
	<li>基础信息是不可修改的信息，具体包括如下内容：
		<ol>
			<li>id</li>
			<li>unionid</li>
			<li>关联手机号</li>
			<li>注册时间</li>
			<li>上次登录</li>
			<li>会员级别</li>
			<li>到期时间</li>
		</ol>
	</li>
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【用户列表】界面原型图如下：
		<a href="img/prototype/admin/user-list.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/user-list.png" />
		</a>
	</li>
	<li>【用户详情】界面原型图如下：
		<a href="img/prototype/admin/user-info.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/user-info.png" />
		</a>
	</li>
</ol>
