<meta charset="utf-8" />
<h2>商品体系体系</h2>
<h3>概述</h3>
<ol class="ui list">
	<li>商品包括激活码和会员资格；</li>
	<li>pending...</li>
</ol>

<h3>激活码</h3>
<h4>描述</h4>
<ol class="ui list">
	<li>用户成为友邻优课会员的渠道除在App中直接购买外，还可能在淘宝或其他微信公众号购买激活码，在App内输入激活码进行激活；</li>
	<li>目前已定的渠道有：淘宝网（店铺名：友邻优课的伙伴们）、微信公众号（友邻优课会员号）以及小答应申请发放；</li>
	<li>在友邻优课公众号用户可以购买激活码，并送给好友。支付后自动生成激活码；</li>
</ol>

<h4>查看</h4>
<ol class="ui list">查看激活码主要包括以下内容：
	<li>统计数据：</li>激活码总数、已激活数、已售出数；
	<li>序号；</li>
	<li>激活码；</li>
	<li>分发渠道：此激活码用于哪个渠道；</li>
	<li>使用状态：未激活和已激活三种；</li>
	<li>类型：即激活码的使用期限；</li>
	<li>到期时间：状态为已激活的激活码此项显示为激活时间+类型对应期限；未激活的激活码此项为空；</li>
	<li>申请人：添加此激活码的管理员；</li>
	<li>操作：删除（仅状态为“未售出”的激活码有此操作）；</li>
</ol>

<h4>增加</h4>
<ol class="ui list">
	<li>弹出遮罩层；</li>
	<li>渠道：单项选择，选项待定；</li>
	<li>数量：用户输入，只能是数字；</li>
	<li>类别：单项选择，选项为：1天、3天、7天、1个月（30天）、6个月、1年、2年；</li>
</ol>

<h4>搜索和筛选</h4>
<ol class="ui list">
	<li>搜索：输入激活码搜索，查看其使用状态等信息；</li>
	<li>筛选：根据到期时间、分发渠道、使用状态、申请人筛选激活码。筛选条件可以选择以上4各数据的并集；</li>
</ol>

<h4>删除激活码</h4>
<ol class="ui list">
	<li>只可以删除状态为“未售出”的激活码；</li>
	<li>删除前提示用户“删除后无法恢复，请再次确认”；</li>
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【创建节目】界面原型图如下：
		<a href="img/prototype/admin/code.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/code.png" />
		</a>
	</li>
</ol>
