<meta charset="utf-8" />
<h2>问卷体系</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>目的：为向友邻同学提供更加定制化的服务，通过问卷的方式搜集、分析学员信息，并记录在学员档案中；</li>
	<li>使用者：客服及运营团队；</li>
	<li>使用方式：管理员在后台新建问卷后将链接发送给想要调研的学员，学员回答后可以在学员个人信息页面查看其个人的回答，或在问卷结果分析中查看所有参与调研学员的回答；</li>
</ol>

<h3>问卷列表</h3>
<h4>列表元素</h4>
<ol class="ui list">问卷列表中包括如下元素：
	<li>标题：问卷标题</li>
	<li>问题数量：此问卷包含的问题总数；</li>
	<li>调查对象：可以访问并回答的用户群（如友邻同学）；</li>
	<li>链接：此问卷的链接，可以点击，点击后将链接放入电脑剪贴板，并向管理员提示“链接已复制，可以直接在微信聊天对话框中粘贴并发送。”；</li>
	<li>创建者：新增此问卷的管理员的姓名；</li>
	<li>创建时间：新增此问卷的时间；</li>
	<li>原型如下：<img class="ui bordered image" src="img/prototype/admin/questionnaire/questionnaire-list.png" /></li>
</ol>

<h4>列表操作</h4>
<ol class="ui list">对单个问卷可以进行的操作如下：
	<li>编辑信息：编辑问卷的基本信息，包括标题、调查对象和欢迎语；</li>
	<li>修改问题：修改该问卷已有的问题列表，页面样式和新增问卷的页面相同，显示已有问题列表；</li>
	<li>删除：删除该问卷，执行操作前需进行确认提醒；</li>
</ol>

<h3>新增问卷</h3>
<p>新增问卷总共分为两个步骤：添加基本信息、添加问题。</p>

<h4>基本信息</h4>
<p>包括此问卷的标题、调查对象和欢迎语（限制50个字）。</p>
<p>原型如下：<img class="ui bordered image" src="img/prototype/admin/questionnaire/questionnaire-new.png" /></p>

<h4>添加问题</h4>
<p>添加问题页面样式与新增课程内容页面相似，新增问题时管理员可以选择该问题是否为必答问题；</p>
<ol class="ui list">问卷有且仅有如下四种问题：
	<li>单项选择题：管理员需要输入题目和选项。用户只可以选择一个选项作为答案，选项数不限，添加选项时可以选择是“选项”还是“其他”，若选择“其他”，则新增一个有输入框的选项；</li>
	<li>多项选择题：管理员需要输入题目和选项。用户可以选择多个选项作为答案，选项数不限，添加选项时同上；</li>
	<li>填空题：管理员只需输入题目，用户输入单行文本；</li>
	<li>简答题：管理员只需输入题目，用户输入多行文本，字数上限500字；</li>
</ol>
<p>和课程相似，管理员可以实时预览问卷样式，或扫描二维码在手机中预览；用户点击【复制链接】按钮后将链接放入电脑剪贴板，并提示“链接已复制，可以直接在微信聊天对话框中粘贴并发送。”</p>
<p>原型如下：<img class="ui bordered image" src="img/prototype/admin/questionnaire/questionnaire-questions.png" /></p>

<h3>问卷分析</h3>
<h4>基本信息</h4>
<p>问卷的基本信息包括：参与人数、调查对象、问题数量、链接</p>

<h4>元素</h4>
<ol class="ui list">问题的具体信息可以折叠收起，每个问题均有如下元素：
	<li>序号：第几道题；</li>
	<li>题型：单选、多选、填空、简答四种；</li>
	<li>回答：单选题和多选题标注每个选项的选择人数，填空和简答题以留言的形式显示所有回答；</li>
	<li>图标：单选题用扇形图，多选题选择选择人数排名前10个答案用柱状图，填空和简答题不需要；</li>
</ol>
<p>原型如下：<img class="ui bordered image" src="img/prototype/admin/questionnaire/questionnaire-info.png" /></p>