<meta charset="utf-8" />
<h2>常用网站</h2>

<h3>图片素材</h3>
<ul class="ui list">
	<li>UNsplash：
		<a target="_blank" href="https://unsplash.com/">https://unsplash.com/</a>
	</li>
	<li>pexels：
		<a target="_blank" href="https://pexels.com/">https://www.pexels.com/</a>
	</li>
	<li>500px：
		<a target="_blank" href="https://500px.com/">https://500px.com/</a>
	</li>
	<li>creativemarket：
		<a target="_blank" href="https://creativemarket.com/photos">https://creativemarket.com/photos/</a>
	</li>
	<li>shutterstock：
		<a target="_blank" href="https://shutterstock.com/">https://www.shutterstock.com/</a>
	</li>
	<li>huitu：
		<a target="_blank" href="https://huitu.com/">http://www.huitu.com/</a>
	</li>
	<li>昵图网：
		<a target="_blank" href="https://nipic.com/">http://www.nipic.com/index.html</a>
	</li>
</ul>
</ul>
<h3>优秀UI作品</h3>
<ul class="ui list">
	<li>pinterest：
		<a target="_blank" href="https://pinterest.com/">https://pinterest.com/</a>
	</li>
	<li>behance：
		<a target="_blank" href="https://behance.com/">https://www.behance.com/</a>
	</li>
	<li>dribbble：
		<a target="_blank" href="https://dribbble.com/">https://dribbble.com/</a>
	</li>
	<li>花瓣网：
		<a target="_blank" href="https://huaban.com/">https://huaban.com/</a>
	</li>
	<li>Reeoo Designer Show：
		<a target="_blank" href="http://designer.reeoo.com/">http://designer.reeoo.com/</a>
	</li>
	<li>freedesignresources：
		<a target="_blank" href="http://freedesignresources.net/">http://freedesignresources.net/</a>
	</li>
	<li>uisdc：
		<a target="_blank" href="https://uisdc.com/">http://www.uisdc.com</a>
	</li>
	<li>UI中国：
		<a target="_blank" href="http://www.ui.cn/">http://www.ui.cn/</a>
	</li>
</ul>
<h3>优秀网站</h3>
<ul class="ui list">
	<li>Lynda.com：
		<a target="_blank" href="https://www.lynda.com/">https://www.lynda.com/</a>
	</li>
	<li>Audible：
		<a target="_blank" href="http://www.audible.fr">http://www.audible.fr/</a>
	</li>
	<li>awwwards：
		<a target="_blank" href="https://www.awwwards.com/">https://www.awwwards.com/</a>
	</li>
	<li>8 Faces：
		<a target="_blank" href="http://www.8faces.com/">http://www.8faces.com/</a>
	</li>
	<li>Web Design File：
		<a target="_blank" href="http://www.webdesignfile.com/">http://www.webdesignfile.com/</a>
	</li>
	<li>thefwa：
		<a target="_blank" href="https://thefwa.com/awards/page/1/">https://thefwa.com/awards/page/1/</a>
	</li>
	<li>siteinspire：
		<a target="_blank" href="https://www.siteinspire.com/">https://www.siteinspire.com/</a>
	</li>
</ul>
<h3>图标库</h3>
<ul class="ui list">
	<li>iconFont：
		<a target="_blank" href="http://www.iconfont.cn/home/index">http://www.iconfont.cn/home/index</a>
	</li>
	<li>Iconfinder：
		<a target="_blank" href="https://www.iconfinder.com/">https://www.iconfinder.com/</a>
	</li>
</ul>