<meta charset="utf-8" />
<div class="ui container center aligned">
	<h2>友邻优课需求文档</h2>
	<h3>更新日志</h3>
	<span>* 文档中红色内容为更新部分</span>
	<table class="ui center aligned celled table">
		<thead>
			<tr>
				<th class="one wide">版本</th>
				<th class="two wide">更新时间</th>
				<th class="six wide">更新内容</th>
				<th class="two wide">涉及人员</th>
				<th class="one wide">上传人</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>0.1.8</td>
				<td>2016-11-14 17:52</td>
				<td>【Wechat】新增“赠送好友”功能</td>
				<td>大林、大年、付頔威</td>
				<td>王艺博</td>
			</tr>
			<tr>
				<td>0.1.7</td>
				<td>2016-11-11 20:08</td>
				<td>新增【Wechat】一章</td>
				<td>大林、付頔威</td>
				<td>王艺博</td>
			</tr>
			<tr>
				<td>0.1.6</td>
				<td>2016-11-11 20:08</td>
				<td>【Admin】新增【激活码体系】</td>
				<td>大胖、付頔威</td>
				<td>王艺博</td>
			</tr>
			<tr>
				<td>0.1.5</td>
				<td>2016-10-28 22:05</td>
				<td>【升级狂欢-图文显示】大幅修改，上传了新需求和原型图。</td>
				<td>王贞众、大林</td>
				<td>王艺博</td>
			</tr>
			<tr>
				<td>0.1.4</td>
				<td>2016-10-14 17:00</td>
				<td>【升级狂欢-建议收集】修改【文案】一项，添加了音频播放需求。</td>
				<td>王贞众</td>
				<td>王艺博</td>
			</tr>
			<tr>
				<td>0.1.3</td>
				<td>2016-10-14 13:20</td>
				<td>【升级狂欢-建议收集】新增【文案】一项（内容还会更新），及字数限制功能。修改了原型图片。</td>
				<td>王贞众、大林</td>
				<td>王艺博</td>
			</tr>
			<tr>
				<td>0.1.2</td>
				<td>2016-10-13 20:00</td>
				<td>【升级狂欢】中增加了【图文显示】、【消息通知】、【快递邮寄】三个模块</td>
				<td>王贞众、大林</td>
				<td>王艺博</td>
			</tr>
			<tr>
				<td>0.1.1</td>
				<td>2016-10-13 15:54</td>
				<td>增加了【升级狂欢】系统的需求</td>
				<td>王贞众、大林</td>
				<td>王艺博</td>
			</tr>
		</tbody>
	</table>

</div>
<script>
	// $('table tbody tr:first').addClass("active").addClass("ui");
	$('#btnStart').click(function() {
		location.href = $('.ui.menu[data-type="menu"] > .default-item').attr('href');
	});
</script>
