<meta charset="utf-8" />
<h2>学习日历模块</h2>
<h3>概述</h3>
<p>　　学习日历模块可以让用户从宏观上（总共的学习时间）以及微观上（每日的学习轨迹）把握自己的学习状况。</p>
<h3>学习日历页</h3>
<h4>顶部</h4>
<p>　　需要包括如下信息：</p>
<ol>
	<li>累计学习ｘｘ小时。</li>
	<li>连续学习ｘｘ天。<br />- 如昨天学习了，则从最近一次学习的日子算到上一个没有学习的日子；<br />如果昨天没学，则显示为连续学习0天</li>
</ol>
<h4>日历</h4>
<p>　　进入学习日历后，日历默认为本周，日期自动选择到今天。左右滑动切换上一周和下一周。</p>

<p>　　页面在顶部时，在轨迹处下滑则日历由当周变为显示为当月，左右滑动切换月份。上滑则收起日历。</p>

<br /><p>　　点击日历上的日期则显示当日的学习情况。将来的日期可以看到，但无法点击。</p>

<h4>学习轨迹</h4>
<p>　　以时间轴的方式倒序显示所选日期的学习轨迹：
<ol>
	<li>收听节目：显示开始时间，收听的节目以及时长。</li>
	<li>发布的心得：显示发布时间，以及心得的内容。</li>
</ol>

<a href="img/prototype/app2.0/calendar.jpg" target="_blank">
	<img class="ui bordered image" style="border:0px" src="img/prototype/app2.0/calendar.jpg" />
</a>