<meta charset="utf-8" />
<h2>个人中心模块</h2>
<h3>概述</h3>
<p>　　个人中心主要聚集了用户在app内产生的信息，如个人资料，我的笔记等。同时加入一些实用功能，如优币商城、任务中心、我的管家等。</p>

<h3>"我"页面</h3>
<p>　　我页面显示的信息包括：</p>
<ol>
	<li>用户的头像、昵称、一句话介绍、等级</li>
	<li>关注、粉丝、成长值入口以及各自的数值</li>
	<li>我的微信个人资料、任务中心、我的笔记、学习管家、优币商城、设置。</li>
</ol>

<h3>粉丝及关注</h3>
<p>　　<b>粉丝</b>及<b>关注</b>页面展示了我的粉丝及我关注的人。</p>
<p>　　点击<b>取消关注</b>，提示“您确认要不再关注XX的动态吗”确认 取消，点击确认则"取消关注"变为"关注"，下拉刷新后该用户从列表中消失。无网络等情况下操作，提示“网络不可用”。 </p>
<p>　　点击用户跳转到资料页，可查看该用户的相关信息。</p>

<h3>个人资料</h3>
<p>pending...</p>

<h3>任务中心</h3>
<p>pending...</p>

<h3>同学权益</h3>
<p>pending...</p>

<h3>优币商城</h3>
<p>　　暂时不上线，仅显示学员的优币数量。</p>

<h3>成长值</h3>

<h3>我的笔记</h3>
<p>pending...</p>

<h3>学习管家</h3>
<p>pending...</p>