<meta charset="utf-8" />
<h2>今天模块</h2>
<h3>模块概述</h3>
<ol>
	<li>以“天”为单位，用卡片的形式显示每天更新的课程；</li>
	<li>可以查看到今天至7天前（共8天）的更新内容，最后一张卡片提示到“知识”页面；</li>
</ol>

<h3>卡片列表</h3>
<ol>
	<li>第一个卡片为“今天”，向左侧滑动依次显示最近5天更新的内容；</li>
	<li>最后一个卡片是“发现更多知识”，点击后跳转到“知识”页面；</li>
	<li>双击底部Tab Bar时自动返回到第一个卡片；</li>
</ol>
	<p><mark>【注意】若当前日期无课程更新，则不显示当前日期的卡片。</mark></p>
	<p>举例：根据目前课程更新情况，周六、周日无课程更新，则第一张卡片应为“2017年2月17日 周五”的内容；</p>

<h3>卡片详情</h3>
<p>每日新闻解读需要最突出显示，其余专辑课程重要性一致即可；</p>
<ol>每个卡片需要包括以下内容：
	<li>日期：当天日期+星期几；</li>
	<li>更新数量：显示“3个专辑更新”</li>
	<li>主图：如果当天有新闻更新，则显示新闻；否则显示更新的第一个节目图片；</li>
	<li>课程列表：当前日期内所有更新的课程，按照专辑的形式显示，用户点击专辑封面则进入专辑详情页面，若点击播放键则在当前页面开始播放，若点击其他区域则进入课程页面；</li>
</ol>

<p>原型图</p>
<img class="ui medium bordered image" src="img/prototype/app2.0/today.png" />

