<meta charset="utf-8" />
<h2>知识</h2>
<h3>概述</h3>
<p>　　知识模块类似于图书馆的索引，用户可以按照专辑（专题）-节目的方式找到已更新的所有节目</p>
<h3>知识页</h3>
<p>　　知识页包含专题、每日新闻和专辑三个栏目</p>
<a href="img/prototype/app2.0/knowledge.jpg" target="_blank">
	<img class="ui bordered image" src="img/prototype/app2.0/knowledge.jpg" />
</a>
<ul>
	<li>专题为banner展示，切换间隔5s。点击专辑跳转到专题详情页。</li>
	<li>每日新闻展示最近更新的5个节目，显示节目封面、老师头像和节目名称，点击可直接跳转到播放页。点击>可跳转到每日新闻讲解版的专辑详情</li>
	<li>专辑栏目显示除每日新闻解读版外的所有专辑，一行显示两个，按照<b>权重顺序排列</b>。未闭合的专辑显示“更新至XXX节”，已闭合的专辑显示“共XXX节”。</li>
	<li>点击专题跳转到专题页，点击专辑跳转到<b>专辑详情页</b></li>
</ul>
<p></p>
<p>　　PS1：知识页需要做缓存处理，使用户在无网络情况下也能够浏览缓存中的专辑图片</p>
<p>　　PS2：需要后台加入字段，用来区分已闭合和未闭合的节目</p>

<h3>专辑详情</h3>
<p>　　专辑详情包含三个分页：<b>简介、节目以及心得</b>。进入专辑详情默认切换到<b>节目分页</b>。</p>
<p>　　进入专辑详情或下拉刷新时加载课程，如没有网络，提示“网络不可用”</p>
<br />
<p>　　若用户为非会员，则在专辑页面底部固定显示“<b>立即入学</b>”，点击立即入学跳转到<b>购买页</b></p>
<h3>专辑-简介</h3>
<p>　　简介包含三个部分</p>
<ol>
	<li>专辑的简短介绍（一句话介绍），以及专辑其他相关字段</li>
	<li>专辑由哪些老师讲述，点击老师跳转到<b>老师介绍页</b></li>
	<li>专辑的详细介绍，富文本格式</li>
</ol>
<p>　　上滑简介到底部后，文案提示：松开，切换到节目列表。松开后，切换到节目分页（参照喜马拉雅）</p>
<p>　　pending...</p>
<h3>专辑-节目</h3>
<a href="img/prototype/app2.0/lessonlist.jpg" target="_blank">
	<img class="ui bordered image" src="img/prototype/app2.0/lessonlist.jpg" />
</a>
<h4>【筛选】</h4>
<p>　　每个节目包含一种标签，用来区分不同的节目</p>
<p>　　点击筛选时出现筛选菜单：</p>
<ul>
	<li>每日新闻显示时间标签：2017-01、2017-02等</li>
	<li>名称前有集数E[XX]的，如莎士比亚，显示集数标签：E1-E10，E10-20等</li>
</ul>
<p>　　选择标签后节目列表显示相对应的节目</p>
<h4>【排序】</h4>
<p>　　点击排序可切换节目列表的排序状态：正序或倒序。</p>
<p>　　未闭合的专辑默认按照节目更新时间倒序排列（如每日新闻解读），已闭合的专辑默认按照更新时间正序排列（如莎士比亚）。</p>
<h4>【下载】</h4>
<p>　　点击下载：</p>

<ul>
	<li>如用户处于未登录状态，则跳转到登录页。</li>
	<li>如当前登录为非会员账号（新用户），提示“加入友邻同学享受下载节目特权” 咨询小答应 立即入学 取消，点击咨询小答应接入客服，点击立即入学跳转到购买页，点击取消留在当前页面。</li>
	<li>如当前登录为会员账号，跳转到<b>批量下载</b>页面</li>
</ul>
<a href="img/prototype/app2.0/download.jpg" target="_blank">
	<img class="ui bordered image" src="img/prototype/app2.0/download.jpg" />
</a>
<p>　　批量下载页，节目显示与列表页相同，可上拉加载。</p>
<ol>
	<li>已下载的课程右侧为灰色的勾，不可勾选</li>
	<li>点击<b>全选当页</b>，则选择全部已加载的节目。全选后再次点击全选当页，</li>
	<li>勾选想要下载的节目后点击下载，则添加勾选的节目到下载中，并返回节目列表。</li>
	<li>若用户未勾选任何节目点击下载，提示“请选择要下载的节目”</li>
</ol>

<h4>节目列表</h4>
<p>　　点击节目时：</p>
<ul>
	<li>如用户未登录，则跳转到登录页面</li>
	<li>如用户为非会员，提示“该节目仅限友邻学员收听” 取消 立即入学。</li>
	<li>如用户为会员，跳转到对应节目的<b>播放页</b>，并自动播放</li>
</ul>
<p>　　标记已点过的课程和未点过的课程。已点过的节目记录于服务器，避免用户重装或换手机后无法知道之前听过的节目。</p>
<p>　　<b>上拉时分页栏固定于顶部。上拉加载时显示加载动画</b>，一次加载15个节目。无网络时，提示“网络不可用”</p>

<h3>专辑-心得</h3>
<p>　　专辑-心得显示该专辑下，点赞数最多的10个心得</p>
<p>　　pending...</p>