<meta charset="utf-8" />
<h2>同学资料模块</h2>
<h3>同学资料页</h3>
<p>需要包含的内容有：</p>
<ol>
	<li>用户的头像、昵称、一句话介绍、等级。点击头像可查看大图。</li>
	<li>性别（以图标显示）、地区、年龄</li>
	<li>关注数、粉丝数、学习时长</li>
	<li>心得数以及心得预览，心得按照时间倒序显示，默认显示最新的5个，可上拉加载。</li>
</ol>
<a href="img/prototype/app2.0/app-structure.png" target="_blank">
	<img style="border:0px;max-height: 50%;" class="ui bordered image" src="img/prototype/app2.0/app-structure.png" />
</a>

<h3>关注</h3>
<h3>加好友</h3>
<p>　　点击加好友，复制该用户的微信号到剪贴板，同时提示“已复制微信号到剪贴板”取消 打开微信。点击打开微信则调出微信。</p>
