<meta charset="utf-8" />
<h2>今天模块</h2>
<h3>模块概述</h3>
<ol>
	<li>以“天”为单位，用卡片的形式显示每天更新的课程。</li>
	<li>可以查看到</li>
</ol>

<h3>卡片列表</h3>
<ol>
	<li>第一个卡片为“今天”，向左侧滑动依次显示最近5天更新的内容；</li>
	<li>最后一个卡片是“发现更多知识”，点击后跳转到“知识”页面；</li>
	<li>双击底部Tab Bar时自动返回到第一个卡片；</li>
</ol>

<h3>卡片详情</h3>
<ol>每个卡片需要包括以下内容：
	<li>日期：当天日期+星期几；</li>
	<li>更新数量：显示“3个专辑更新”</li>
	<li>主图：如果当天有新闻更新，则显示新闻；否则显示更新的第一个节目图片；</li>
	<li>课程列表：当前日期内所有更新的课程，；</li>
</ol>

<h3>原型图</h3>
<a href="img/prototype/app/app-structure.png" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/app-structure.png" />
</a>
