<meta charset="utf-8" />
<h2 id="个人模块">个人模块</h2>



<h3 id="个人中心">个人中心</h3>

<p>　　点击头像、昵称、一句话介绍跳转到个人资料页。 <br>
　　点击【连续打卡】【关注】【粉丝】【学习轨迹】【我的心得】【优币商城】【会员权益】【我的微信】【个性标签】【个人资料】【下载管理】【我喜欢的】【我的管家】【激活码】【设置】均跳转到相应页面。</p>



<h3 id="打卡日历">打卡日历</h3>

<p>　　点击个人中心【连续打卡】或任务中心右上【打卡日历】按钮跳转到打卡日历页面。 <br>
　　打卡日历页面用户可查看过去一年的打卡记录（去年当前月-今年当前月），按照月份划分，打卡的日期用圆圈标注，点击左右箭头可查看前一个月和后一个月的记录。</p>

<ul><li>若日历为今年当前月，查看后一月时toast提示“已经是当前月”。</li>
<li>若日历为去年当前月，查看前一月是toast提示“最多查看一年以内记录”。</li>
</ul>



<h4 id="连续打卡天数">连续打卡天数：</h4>

<p>　　用户最近一次连续打卡的累积天数。例如：在一个月中，20、21、22日打卡，今天是25日，则记为连续打卡3天。如20、21、22日打卡，今日（25日）打卡，则记为连续打卡1天。</p>



<h3 id="我关注的人">我关注的人</h3>

<p>　　点击个人中心-【关注】跳转到我关注的人页面。 <br>
　　点击【取消关注】，提示“您确认要不再关注XX的动态吗”【确认】【取消】，点击【确认】则【取消关注】变为【关注】，下拉刷新后该用户从列表中消失。无网络等情况下操作，提示toast“操作失败”。 <br>
　　点击用户跳转到资料页，可查看该用户的相关信息。</p>



<h3 id="关注我的人">关注我的人</h3>

<p>　　点击个人中心-【粉丝】跳转到我关注的人页面。 <br>
　　点击用户跳转到资料页，可查看该用户的相关信息。</p>



<h3 id="学习轨迹">学习轨迹</h3>

<p>　　点击个人中心–&gt;【学习轨迹】跳转到学习轨迹页面。该页面记录了听课</p>



<h3 id="我的心得">我的心得</h3>

<p>　　点击个人中心–&gt;【我的心得】跳转到我的心得页面。</p>



<h4 id="删除">【删除】</h4>

<p>　　点击【删除】提示“您确认要删除这篇心得吗”【取消】【确认删除】，点击【确认删除】则删除该篇心得，该心得从页面中消失。断网状态下，提示toast“删除失败”。</p>



<h3 id="优币商城">优币商城</h3>



<h3 id="会员权益">会员权益</h3>



<h3 id="我的微信">我的微信</h3>

<p>　　点击个人中心–&gt;【我的微信】跳转到我的微信页面。</p>



<h4 id="点击保存时">点击【保存】时：</h4>

<ul><li>如微信号不合法，提示toast“请输入正确的微信号”</li>
<li>若微信号合法，且修改成功，则toast“修改成功”，否则toast“修改失败”。</li>
</ul>



<h3 id="个性标签">个性标签</h3>

<p>　　点击个人中心–&gt;【个性标签】跳转到个性标签页面。 <br>
　　可选择多个个性标签，彩色显示。</p>



<h3 id="个人资料">个人资料</h3>

<p>　　点击个人中心–&gt;【个人资料】跳转到个人资料页面。</p>



<h4 id="保存">【保存】</h4>

<p>　　点击【保存】时，根据修改成功与否toast提示“修改成功”“修改失败”。</p>



<h4 id="返回">【返回】</h4>

<p>　　若用户修改了资料但未保存，点击返回时，提示“您要放弃本次编辑吗”【保存】【放弃】。点击【放弃】则不保存本次修改。</p>



<h3 id="下载管理">下载管理</h3>

<p>　　点击个人中心–&gt;【下载管理】跳转到下载管理页面。该页面两个分页：已下载和正在下载。</p>



<h3 id="我喜欢的">我喜欢的</h3>

<p>　　点击个人中心–&gt;【我喜欢的】跳转到我喜欢的页面。</p>

<p>　　用户在节目播放页点击【喜欢】后，课程添加到我喜欢的页面，点击节目进入播放页。</p>



<h4 id="删除-1">【删除】</h4>

<p>　　点击【删除】提示“确定不再收藏该节目吗”【确定】【取消】。点击【确定】则不再收藏该节目，该节目从列表中消失。</p>



<h3 id="我的管家">我的管家</h3>

<p>点击个人中心–&gt;【我喜欢的】跳转到我喜欢的页面。 <br>
依次弹出对话，模拟真实交流。（具体文案见附录）</p>
