<meta charset="utf-8" />
<div class="ui stackable two column grid container document">
	<div class="four wide column">
		<div class="ui accordion" style="position:fixed">
			<div class="title" data-id="1"><i class="dropdown icon"></i>概述</div>
			<div class="content">
				<div class="ui list">
					<a class="item">用途</a>
					<a class="item">功能概述</a>
					<a class="item">时间规划</a>
					<a class="item">首次关注</a>
					<a class="item">菜单栏设置</a>
				</div>
			</div>
			<div class="title" data-id="2"><i class="dropdown icon"></i>会员购买体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">赠送好友</a>
					<a class="item">新手购买</a>
					<a class="item">会员续费</a>
					<a class="item">经销商</a>
				</div>
			</div>
			<div class="title" data-id="3"><i class="dropdown icon"></i>优课商城体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">课程列表</a>
					<a class="item">品牌介绍</a>
					<a class="item">课程详情</a>
				</div>
			</div>
			<div class="title" data-id="4"><i class="dropdown icon"></i>个人中心体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">基本信息</a>
					<a class="item">已购课程</a>
					<a class="item">个人资料</a>
					<a class="item">我的管家</a>
					<a class="item">我的礼品卡</a>
					<a class="item">地址管理</a>
				</div>
			</div>
			<div class="title" data-id="5"><i class="dropdown icon"></i>免费体验体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">免费课程</a>
					<a class="item">社群展示</a>
				</div>
			</div>
			<div class="title" data-id="6"><i class="dropdown icon"></i><i class="ui red star icon"></i>五日提升计划</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">活动流程图</a>
					<a class="item">信息结构图</a>
					<a class="item">活动介绍</a>
					<a class="item">自动回复</a>
					<a class="item">活动报名</a>
					<a class="item">付款方式</a>
					<a class="item">绑定联系方式</a>
					<a class="item">课程目录</a>
					<a class="item">领取证书</a>
					<a class="item">上课提醒</a>
					<a class="item">活动列表</a>
					<a class="item">我的押金</a>
					<a class="item">附录</a>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="twelve wide column ui form">
	</div>
</div>


<script>loadDocument('wechat', function() {
	$('.ui.app.image').click(function() {
		var src = $(this).context.src;
		$('.show_image img').attr('src', src)
		$('.ui.modal').modal({
			className: {
				scrolling: 'scrolling',
			},
			observeChanges: true
		}).modal('show');
	});
});</script>
<script type="text/javascript">autodivheight();

function autodivheight() {

	var winHeight = 0;
	if(window.innerHeight)
		winHeight = window.innerHeight;
	else if((document.body) && (document.body.clientHeight))
		winHeight = document.body.clientHeight;

	if(document.documentElement && document.documentElement.clientHeight)
		winHeight = document.documentElement.clientHeight;
//	document.getElementById("hhh").style.height = (winHeight - 70) + "px";
}
window.onresize = autodivheight;</script>
