<!--
	作者：王艺博
	时间：2017-06-16
	描述：v1.1
-->
<meta charset="utf-8" />
<h2>课程预告</h2>
<!--概述-->
<h3>1. 概述</h3>
<div>
	<p>课程预告是由夏鹏老师发起的运营动作，每日固定时间由阿树号在朋友圈发布带有二维码的海报，吸引用户听课。</p>
	<ul class="ui list">
		<li>意义：让更多人了解友邻优课，课程体验前置；</li>
		<li>核心指标（Key Result）：<mark>日均听课0-1分钟的人数减少1%</mark>；</li>
	</ul>
	<h4>名词定义</h4>
	<ul class="ui list">
		<li>免费用户：没有任何权益的用户；</li>
		<li>付费用户：拥有任何一项权益的用户；</li>
		<li>支付页：免费用户付费体验的页面；</li>
		<li>支付成功页：免费用户支付成功后跳转的页面；</li>
	</ul>
</div>
<!--关键流程-->
<h3>2. 关键流程</h3>
<div>
	<h4>体验流程</h4>
	<ul class="ui list">
		<li>付费用户：进入小程序提示页，提示小程序二维码；</li>
		<li>免费用户：进入介绍页，支付成功后提示小程序二维码；</li>
	</ul>
	<p>流程图如下：</p>
	<img class="ui app image" src="img/prototype/wechat/prevue/flowchart.png" />
</div>
<!--扫码购买-->
<h3>3. 扫码购买</h3>
<div>
	<h4>3.1 支付页</h4>
	<p>免费用户扫码后进入支付页，页面title为“24小时体验友邻优课”，页面元素如下：</p>
	<ul class="ui list">
		<li>阿树头像和名字；</li>
		<li>一段语音<mark>（等阿树录制）</mark></li>
		<li>一段文字：
			<p class="prd-desc">Hi，<mark>用户微信名</mark>，我是友邻优课的大管家阿树。在友邻优课，你可以和俞敏洪最欣赏的几位老师一起听外媒新闻、读畅销书籍、提升英语能力。
				<br /><br /> <span style="color: #B41930;">24小时内听满45分钟，即可退回全部体验费。</span>
			</p>
		</li>
		<li>用户许可协议：点击后打开新页面，地址为<span class="prd-desc">http://ylyk.com/pages/userAgreement.html</span></li>
		<li>购买按钮：点击后弹出微信支付，支付成功后到支付成功页面</li>
	</ul>
	<p>付费用户点击按钮后提示“此活动仅限非会员参加”；</p>
	<p>页面原型如下：</p>
	<img class="ui app image" src="img/prototype/wechat/prevue/purchase.png" />
	<h4>3.2 支付成功页</h4>
	<p>页面title为：“支付成功”，页面元素如下：</p>
	<ul class="ui list">
		<li>支付成功提示：<span class="prd-desc">支付成功</span>；</li>
		<li>倒计时：24小时倒计时，时、分、秒；</li>
		<li>小程序二维码：二维码+<span class="prd-desc">“长按扫码、立即听课”</span>，二维码为小程序首页二维码；</li>
	</ul>
	<p>页面原型如下：</p>
	<img class="ui app image" src="img/prototype/wechat/prevue/purchase-success.png" />
	<h4>3.3 支付失败页</h4>
	<p>若用户在微信支付时点击了取消则回到当前页面，若有困难，则跳转到支付失败页面，页面中的头像、二维码为该用户对应小答应的头像及二维码，名字固定为“阿树老师”四个字，原型如下：</p>
	<img class="ui app image" src="img/prototype/wechat/prevue/failed.png" />
	<h4>3.4 小程序二维码提示页</h4>
	<p>付费用户扫码后进入此页面，页面 title为“小程序-友邻优课学员”，页面元素如下：</p>
	<ul class="ui list">
		<li>用户头像和名字；</li>
		<li>学习时长：用户的收听时长（时长数值较大的那个），单位为分钟；</li>
		<li>小程序二维码：二维码+<span class="prd-desc">“长按扫码、立即听课”</span>，二维码为小程序首页二维码；</li>
	</ul>
	<p>页面原型如下：</p>
	<img class="ui app image" src="img/prototype/wechat/prevue/qrcode.png" />
</div>
<!--听课弹窗-->
<h3>4. 听课弹窗</h3>
<div>
	<h4>*听课页面改动</h4>
	<p>细节改动如下：</p>
	<ul class="ui list">
		<li>页面左上角老师头像及姓名<mark>区域</mark>，点击后弹出老师的头像、姓名及介绍；</li>
		<li>课程教师右侧加入阿树头像：仅体验用户可见（买了商品id：xx<mark>待定！</mark>），点击后弹出下一小节描述的对话框；</li>
	</ul>
	<p>页面原型如下：</p>
	<img class="ui app image" src="img/prototype/wechat/prevue/player.png" />
	<h4>弹窗</h4>
	<p><mark>体验用户第一次进入听课页面，自动弹出对话框，若非第一次进入，则不弹出</mark>，元素如下：</p>
	<ul class="ui list">
		<li>头像及名字：该用户对应的阿树老师头像，名字固定为“阿树老师”（不带10、39这种编号）；</li>
		<li>一段话：
			<p class="prd-desc">Hi <mark>用户微信名</mark>，请添加我为微信好友（微信号：<mark>该用户对应的阿树老师的微信号</mark>），听满45分钟后将“我”页面截图发给我，我会把体验费退还给你。</p>
		</li>
		<li>二维码：该用户对应的阿树老师的微信二维码；</li>
		<li>关闭文字：<span class="prd-desc">不想加我为好友</span>，点击后对话框收起；</li>
	</ul>
	<p>页面原型如下：</p>
	<img class="ui app image" src="img/prototype/wechat/prevue/alert.png" />
</div>
<!--数据需求-->
<h3>5. 数据需求</h3>
<div>
	<ul class="ui list">
		<li>转化漏斗：支付页浏览人数-按钮点击量-支付成功页面浏览人数；</li>
		<li>付费用户访问情况：小程序二维码提示页浏览人数；</li>
		<li>体验完成率（每天）：退款人数/支付人数；</li>
		<li>体验转化率（7天）：购买任意权益人数/退款人数（完成）、购买任意权益人数/支付页浏览人数（整体）；</li>
	</ul>
</div>