<meta charset="utf-8" />
<h2>概述</h2>

<h3>用途</h3>
<ol class="ui list">
	<li>友邻优课微信端主要为三个产品：
		<ol>
			<li>友邻优课服务号：吸引流量、购买转化；</li>
			<li>友邻优课小程序：听课及社交基础功能，按照张小龙价值观，打造“用完即走”的产品；</li>
			<li>友邻优课收款号（多个）：仅作为收款工具，收款至集团其他子公司银行账户；</li>
		</ol>
	</li>
	<li>微信端后台文档见Admin一章；</li>
</ol>

<h3>功能概述</h3>
<ol class="ui list">友邻优课服务号主要分为如下几个模块：选购优课（商城）、加入会员、赠送好友。
		<li>选购优课：类似淘宝，用户任意选购商品（即课程），完成支付后对接给相应客服；</li>
		<li>加入会员：查看会员介绍，选择学习时限进行支付；</li>
		<li>赠送好友：会员购买后填写礼品卡，送给好友；</li>
		<li>经销商查看个人数据：单独生成链接，不在公众号显示入口；</li>
</ol>

<h3>近期工作</h3>
<ol class="ui list">
	<li>11月20日前完成赠送好友相关功能；</li>
	<li>12月5日下线合伙人功能并完成经销商功能（合伙人改版）；</li>
	<li>12月10日前完成会员购买功能的改版；</li>
	<li>12月25日前完成商品体系的改版；</li>
	<li>12月31日完成后台数据的对接；</li>
</ol>
