<!--
	作者：王艺博
	时间：2017-04-08
	描述：v1.0
-->
<meta charset="utf-8" />
<h2>五日提升计划</h2>
<!--概述-->
<h3>概述</h3>
<p>友邻优课的拉新工具。</p>
<ol class="ui list">
	<li>意义：五日提升计划是按照目标用户需求，对友邻优课已有的大量留存课程进行筛选、组合，以5天为一个周期提供课程；</li>
	<li>目的：获取大量潜在客户，提升用户成熟度，为销售团队提供销售资源；</li>
	<li>目标用户关键词：英语学习、自我提升、职场、女性；</li>
	<li>活动开始：随时报名，报名成功后即解锁第一节课，报名后的第一个早上6点解锁第二节课，第四个早上6点解锁最后一节课；</li>
	<li>活动结束：第五个早上6点活动结束，结束后该用户需重新报名，但课程完成的状态不变；</li>
</ol>
<h4>名词定义</h4>
<ul class="ui list">
	<li>计划：课程的集合；</li>
	<li>课程：用户学习内容的最小单位；</li>
	<li>完成课程：该课程下有大于0个心得；</li>
	<li>报名成功：用户通过任意方式获取活动参与资格；</li>
	<li>赌局：支付押金，完成全部课程后返还的活动报名方式；</li>
	<li>押金：通过赌局方式报名时支付成功且<mark>未退款</mark>的金额；</li>
</ul>
<h4>包含关系</h4>
<img class="ui app image" src="img/prototype/wechat/5days/relations.png" />
<!--活动流程图-->
<h3>活动流程图</h3>
<img class="ui app image" src="img/prototype/wechat/5days/flowchart.png" />
<!--信息结构图-->
<h3>信息结构图</h3>
<img class="ui app image" src="img/prototype/wechat/5days/elements.png" />
<!--活动介绍-->
<h3>活动介绍</h3>
<p>为了让看到邀请卡的用户对活动有更详细的了解，用户扫描二维码后进入活动介绍页面，页面中包括以下内容：</p>
<ol class="ui list">
	<li>活动标题：最吸引人的标题+图片；</li>
	<li>活动介绍：根据不同活动而不同，主要目的是让用户了解活动内容、规则、收获；</li>
	<li>付款方式：付款方式分为免费、付费、押金三种，详情见下方“报名”章节；</li>
	<li>接受好友邀请：点击后弹出公众号带参数二维码，用户长按扫描后进入公众号介绍页；<mark>若用户从公众号直接点击进入，点击按钮后直接进入报名页面。</mark></li>
</ol>
<h4>页面原型</h4>
<img class="ui app image" src="img/prototype/wechat/5days/intro.png" />
<!--自动回复-->
<h3>自动回复</h3>
<p>自动回复分为【首次关注】、【好友扫码接受邀请】两类；</p>
<h4>1. 首次关注</h4>
<p>用户通过扫描活动邀请卡关注公众号后，即弹出下列3条消息：</p>
<ul class="ui list">
	<li>【微信昵称】，欢迎来到友邻优课【活动名】活动，我是大管家阿树。</li>
	<li>你可以在如下三种方式中选择一种，参与此活动：
		<br /><br /> ①免费参与：转发下方邀请卡至朋友圈，有3位以上好友扫码即可解锁活动参与资格；
		<br /><br /> ②直接报名：支付49元即可直接参与活动；
		<br /><br /> ③和我打赌：支付69元押金，如果活动期间能够坚持每天听课并写下心得，活动结束后24小时内全额退还;
		<br /><br />
		<a>选择②或③请点击此处付费</a>
		<br />------<br /> 如有疑问，可以点击下方的【咨询阿树】和我联系。
	</li>
	<li>【专属邀请卡图片】；</li>
</ul>
<h4>2. 好友扫码接受邀请</h4>
<p>当用户的专属邀请卡被其他人<mark>扫码并关注公众号</mark>后，即弹出如下提醒：</p>
<ul class="ui list">
	<li>第1个人扫码后：好友【微信昵称】已接受你的邀请，还差2人即可免费参加【活动名】，分享邀请卡到朋友圈，让朋友和你一起进步。</li>
	<li>第2个人扫码后：好友【微信昵称】已接受你的邀请，还差1人即可免费参加【活动名】，分享邀请卡到朋友圈，让朋友和你一起进步。</li>
	<li>第3个人扫码后：<br />好友【微信昵称】已接受你的邀请，已解锁活动参与资格。<br />活动共持续5天，每天早上6点更新当天课程。
		<a>点击此处即可开始学习第一课</a>
	</li>
</ul>
<!--活动报名-->
<h3>活动报名</h3>
<p>用户点击自动回复中第二条最后的付费链接，或点击公众号底部菜单栏【五日提升计划】，进入报名页面。</p>
<h4>页面元素</h4>
<p>页面内有如下元素：</p>
<ol class="ui list">
	<li>活动标题；</li>
	<li>参与人数：<mark>实际人数取最高位*3+实际人数</mark>；</li>
	<li>付款方式：免费、付费、押金三种；</li>
	<li>活动介绍：不同活动的介绍不同；</li>
	<li>课程目录：以天为单位显示课程；</li>
	<li>主讲教师：可能存在多个老师，显示老师的头像、名称和简介；</li>
	<li>更多活动：其他活动；</li>
</ol>
<h4>页面原型</h4>
<img class="ui app image" src="img/prototype/wechat/5days/signUp1.png" />
<h3>付款方式</h3>
<p>付款方式分为免费、付费、押金三种。</p>
<h4>1. 免费参与</h4>
<ol class="ui list">
	<li>标题：免费参与；</li>
	<li>描述：成为推广志愿者，将专属邀请卡发到朋友圈，有3位以上好友扫码即可；</li>
	<li>点击后：弹出该用户的专属邀请卡，提示“长按图片即可保存到手机”；</li>
</ol>
<ol class="ui list">有用户扫描后，付费方式部分改为如下元素：
	<li>已获得X位好友支持；</li>
	<li>好友头像：少于3人时，右侧是加号，点击后弹出邀请卡；等于3人时，只显示头像；大于3人时，右侧显示表示“更多”的图标；</li>
	<li>不想再等其他好友？立即支付；点击后弹出两种付费方式，供用户选择；</li>
</ol>
<div class="ui three columns grid">
	<div class="ui column">
		<img class="ui app image" src="img/prototype/wechat/5days/signUp2.png" />
	</div>
	<div class="ui column">
		<img class="ui app image" src="img/prototype/wechat/5days/signUp3.png" />
	</div>
	<div class="ui column">
		<img class="ui app image" src="img/prototype/wechat/5days/signUp4.png" />
	</div>
</div>
<h4>2. 直接报名</h4>
<ol class="ui list">
	<li>标题：直接报名；</li>
	<li>描述：立即支付49元，直接参与活动；</li>
	<li>点击后：进入支付页面，价格为49元；</li>
</ol>
<h4>3. 打赌报名</h4>
<ol class="ui list">
	<li>标题：打赌报名；</li>
	<li>描述：支付69元押金，阿树老师监督学习。若能够坚持每天听课并写下心得，活动结束后24小时内退还押金；</li>
	<li>点击后：进入支付页面，价格为69元；</li>
</ol>
<!--绑定联系方式-->
<h3>绑定联系方式</h3>
<p>引导用户绑定微信号、手机号、验证码。页面已有，暂不详细说明，日后可能会针对海外用户进行小改动；</p>
<!--课程目录-->
<h3>课程目录</h3>
<p>用户通过任意方式报名成功后，点击公众号下方菜单栏【五日提升计划】即进入课程目录页面；</p>
<h4>页面元素</h4>
<p>页面内有如下元素：</p>
<ol class="ui list">
	<li>活动封面；</li>
	<li>参与人数：<mark>实际人数取最高位*3+实际人数</mark>；</li>
	<li>查看活动介绍：点击后进入活动<mark>介绍</mark>页面（不是活动<mark>报名</mark>页）；</li>
	<li>学习管家：显示阿树老师头像，点击后出现弹出层，显示阿树老师、微信号、二维码及介绍；</li>
	<li>课程讲师：显示第一位老师的头像，点击后出现弹出层，若有多位老师，则以卡片形式，左右滑动显示；</li>
	<li>已赚回押金：若用户通过赌局模式进入此活动，则显示总金额/课程数量（一般是5）*已完成的课程数量，点击后进入押金页面；其他方式进入不显示此元素；</li>
	<li>
		<b>课程目录</b>
		<ol>
			<li>状态：报名成功后自动解锁第一节课，之后每天早上6点解锁下一节，直到最后一天为止；</li>
			<li>押金：仅通过赌局模式购买者显示，未完成时比其他人多显示“完成后即可赚回（总金额/课程数量）元押金”，若已完成则显示“已赚回（总金额/课程数量）元押金”；</li>
			<li>打卡图：未完成时点击提示：“收听课程并发布心得后即可获得今日打卡图”；完成时点击后弹出打卡图，每个课程的打卡图均不同，但是每个用户同一课程得到的打卡图相同；</li>
		</ol>
	</li>
	<li>结业证书：和最后一节课程同时解锁，点击后进入证书页面，点击右上角可以直接获取图片；</li>
</ol>
<h4>页面原型</h4>
<img class="ui app image" src="img/prototype/wechat/5days/course-list.png" />
<!--领取证书-->
<h3>领取证书</h3>
<p>页面已有，几个细节需要注意：</p>
<ol class="ui list">
	<li>时长：用户近5天的学习时长，与电视剧类比，一集等于30分钟，少于30分钟显示1集；</li>
	<li>超越同龄人：时间越长比例越大，最少是30%，最多是90%，不要经常出现某一个数字；</li>
	<li>更多活动：在现有的基础上，最下方加入更多活动栏目，点击后进入相应活动<mark>报名</mark>页；</li>
	<li>分享图片：同现有</li>
	<li>退回押金：点击后提示：“已收到你的申请，阿树老师会在24小时内完成审核。”，<mark>同时要记录该用户于几点进行了申请</mark>。</li>
</ol>
<!--上课提醒-->
<h3>上课提醒</h3>
<h4>提醒内容</h4>
<p>每天早上6点给所有正在参与活动的用户推送模板消息进行上课提醒。内容如下：</p>
<table class="ui center aligned celled table">
	<thead>
		<tr>
			<th class="four wide"></th>
			<th class="three wide">第一天</th>
			<th class="three wide">第二天</th>
			<th class="three wide">第三天</th>
			<th class="three wide">第四天</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>模板ID</td>
			<td colspan="4">BLJuBfLwThrA-HhsPhPczWXQsGnzaav_SVJp6q9Urcw</td>
		</tr>
		<tr>
			<td>标题</td>
			<td colspan="4">上课提醒</td>
		</tr>
		<tr>
			<td>{{first.DATA}}</td>
			<td>今天已为你解锁了【课程名】活动的第二个课程，做好今天的时间规划，遇见更好的自己吧！</td>
			<td>今天已为你解锁了【课程名】活动的第三个课程，继续加油，坚持学习！</td>
			<td>今天已为你解锁了【课程名】活动的第四个课程，明天的你会感谢今天坚持学习的自己。</td>
			<td>今天已为你解锁了【课程名】活动的最后一个课程，同时阿树老师为你解锁了结业证书，学习完今天的课程即可领取。（明天早上6点活动结束，结束后你将失去活动参与资格）</td>
		</tr>
		<tr>
			<td>课程名称</td>
			<td colspan="4">当日课程名称</td>
		</tr>
		<tr>
			<td>时间</td>
			<td colspan="4">当日课程时长，格式为：“MM分钟SS秒”</td>
		</tr>
		<tr>
			<td>{{remark.DATA}}</td>
			<td colspan="4">点击此处开始听课。听完课程后，请点击页面右上方的“写心得”按钮，将自己的心得体会记录下来，发布后即可得到该课程的金句卡片；</td>
		</tr>
		<tr>
			<td>链接</td>
			<td colspan="4">该课程听课页面链接；</td>
		</tr>
	</tbody>
</table>
<h4>活动结束提醒</h4>
<ul class="ui list">
	<li>【模板ID】：EJkcFfg2D4M3ZiM1WnB61Vn0OOYXp5MpwKc5e6qihxU；</li>
	<li>【{{first.DATA}}】：你参加的五日提升计划活动已结束，如有疑问请点击下方【咨询阿树】按钮，与阿树老师联系。</li>
	<li>【活动名称】：活动名；</li>
	<li>【结束时间】：当天早上6点，格式为：“MM月DD日 6:00”；</li>
	<li>【特别说明】：打赌报名的同学若尚未申请返还押金，请联系阿树老师；</li>
	<li>【{{remark.DATA}}】：欢迎报名参加更多五日提升计划活动，点击此处查看更多活动；</li>
	<li>【链接】：活动列表页面地址；</li>
</ul>
<!--活动列表-->
<h3>活动列表</h3>
<p>活动列表中显示五日提升计划的所有活动，页面中包含以下元素：</p>
<ol class="ui list">
	<li>五日提升计划封面图；</li>
	<li>押金：显示用户所有的押金总额，点击后进入押金页面，若押金为0则显示0；</li>
	<li>押金说明：点击后弹出层显示押金说明，内容见附录；</li>
	<li>活动列表：封面、活动名、老师头像、老师、参与人数；</li>
</ol>
<h4>页面原型</h4>
<img class="ui app image" src="img/prototype/wechat/5days/activity-list.png" />

<!--我的押金-->
<h3>我的押金</h3>
<p>我的押金页面显示押金介绍、用户全部押金总和及每个活动的押金；</p>
<ol class="ui list">
	<li>押金介绍：显示一部分，点击查看更多后加载完全，内容见附录；</li>
	<li>押金总和：用户所有活动通过赌局方式报名时支付成功且<mark>未退款</mark>的金额总和；</li>
	<li>活动押金：列表形式显示每个活动，包括活动名、押金、申请退款按钮；</li>
	<li>申请退回押金：点击后提示：“已收到你的申请，阿树老师会在24小时内完成审核。”，<mark>同时记录该用户于几点几分进行了申请</mark>。阿树老师每天晚上8点对符合退款要求的用户统一退款。</li>
</ol>
<h4>页面原型</h4>
<img class="ui app image" src="img/prototype/wechat/5days/deposit.png" />

<!--附录-->
<h3>附录</h3>
<h4>押金说明</h4>
<p>Pending...</p>