<meta charset="utf-8" />
<h2>会员购买功能</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>友邻优课微信端的会员购买功能主要分为如下三个部分：
		<ol>
			<li>新手报名：非会员报名通道；</li>
			<li>会员续费：会员续费通道；</li>
			<li>赠送好友：会员购买友邻优课会员资格赠送给好友；</li>
		</ol>
	</li>
	<li>因AppStore相关限制，微信端会员购买功能目前为友邻优课<mark>唯一</mark>加入会员通道；</li>
</ol>

<h3>赠送好友功能概述</h3>
<ol class="ui list">
		<li>选择类别：
			<ol>
				<li>虚拟卡价格1198元/年，送出后收礼人点击链接直接领取，并获取从领取当天起的365天会员资格；</li>
				<li>实体卡+50元制作费，支付后顺丰发货，至收货地址；</li>
			</ol></li>
		<li>支付成功后，微信公众号提示：“您的礼品卡已支付成功，快去送ta吧~也可以在“个人中心”-“我的礼品卡”中查看哟”</li>
		<li>个人中心加入“我的礼品卡”入口，用于存放用户送出和收到的礼品卡，具体见原型图；</li>
		<li>领取后给送礼人微信公众号推送一句“您的好友 xx 已领取您的高端体验卡。再送一张”</li>
</ol>

<h3>流程图</h3>
<ol class="ui list">
	<li>送礼及收礼流程：
		<a href="img/prototype/wechat/gift-flow.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/gift-flow.png" />
		</a>
	</li>
</ol>

<h3>页面原型</h3>
<ol class="ui list">
	<li>【公众号主页】界面原型图如下：
		<a href="img/prototype/wechat/wechat-main.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/wechat-main.png" />
		</a>
	</li>
	<li>【填写购买信息】界面原型图如下：
		<a href="img/prototype/wechat/purchase-info.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/purchase-info.png" />
		</a>
	</li>
	<li>【选择礼品卡样式】界面原型图如下：
		<a href="img/prototype/wechat/select-card.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/select-card.png" />
		</a>
	</li>
	<li>【领取礼物】界面原型图如下：
		<a href="img/prototype/wechat/open-gift.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/open-gift.png" />
		</a>
	</li>
	<li>【领取成功】界面原型图如下(文字待定)：
		<a href="img/prototype/wechat/gift-success.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/gift-success.png" />
		</a>
	</li>
	<li>【我的礼品卡】界面原型图如下：
		<a href="img/prototype/wechat/my-gift.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/my-gift.png" />
		</a>
	</li>
</ol>
