<meta charset="utf-8" />
<h2>第一期-TPP</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>本次活动于6月11日进行线下启动仪式，6月12日至6月16日（共计5天）为活动期，用户每学习1分钟，友邻优课代表用户向TPP捐赠1分钱。每天目标为<mark>x百万</mark>分钟。连续5日均达成目标，则<mark>干点儿啥</mark>；</li>
	<li>本次活动有三种角色：
		<ol>
			<li>公益使者：共计1000名，成为公益使者后转发海报，获得<mark>5</mark>名好友支持即可获得<mark>“捐赠金额翻倍”</mark>特权，<mark>获得50名好友支持即可获得“再次翻倍”特权</mark>；</li>
			<li>参与者：所有友邻优课的有效学员（未过有效期）均自动被认定为活动参与者；</li>
			<li>支持者：限非友邻优课学员，可以支持身份为友邻优课学员的好友，帮助好友获得更多支持；</li>
		</ol>
	</li>
</ol>

<h3>流程</h3>
<div>
	<h4>参与活动流程</h4>
	<img class="ui app image" src="img/prototype/emc/tpp/flowchart.png" />
</div>

<h3>介绍页</h3>
<div>
	<p>介绍页的主要作用是向友邻公益大使的好友（非会员）介绍自闭症儿童及TPP的意义。</p>
	<h4>页面内容</h4>
	<ul class="ui list">
		<li>图文介绍：图片</li>
		<li>底部按钮:
			<ul>
				<li>通过扫描好友海报进入：支持好友。点击后提示二维码，扫码后关注友邻优课并进行自动回复，内如如下：
					<p class="prd-desc">
						xx你好，我是阿树。你已成功支持好友xx参与关爱自闭症儿童活动，xx每在友邻优课学习1分钟，即可捐赠一分钱。<br /><br />
						<a>点此查看他的学习情况</a>（链接到数据页）<br /><br /> 对友邻优课感兴趣，可以扫描下方二维码，加我微信。（下面放该用户对应的阿树老师二维码）
					</p>
				</li>
				<li>公益使者得到好友支持后，获得公众号推送：
					<ul>
						<li class="prd-desc">第1个好友：您的好友XX已支持您，还差4人即可获得“捐赠金额翻倍”特权；</li>
						<li class="prd-desc">第2个好友：您的好友XX已支持您，还差3人即可获得“捐赠金额翻倍”特权；</li>
						<li class="prd-desc">第3个好友：您的好友XX已支持您，还差2人即可获得“捐赠金额翻倍”特权；</li>
						<li class="prd-desc">第4个好友：您的好友XX已支持您，还差1人即可获得“捐赠金额翻倍”特权；</li>
						<li class="prd-desc">第5个好友：您的好友XX已支持您，恭喜您获得“捐赠金额翻倍”特权，快去努力听课吧！（50人支持可再次翻倍）；</li>
						<li>第6-49个好友：<mark>不再提醒</mark>；
							<li class="prd-desc">第50个好友：您的好友XX已支持您，恭喜您获得“再次翻倍”特权，你的一分钟等于别人的4分钟；</li>
					</ul>
					</li>
			</ul>
			</li>
	</ul>
	<h4>页面原型</h4>
	<img class="ui app image" src="img/prototype/emc/tpp/intro.png" />
</div>

<h3>数据页</h3>
<div>
	<p>数据页展示活动进行过程中的数据，页面每分钟自动刷新；</p>
	<h4>页面内容</h4>
	<ul class="ui list">
		<li>提示框：
			<ul>
				<li>进入页面后判断用户身份，若是会员&还有名额，弹出对话框提示：
					<p class="prd-desc">“友邻EMC公益使者”有义务每天至少听课满30分钟。 分享你的专属活动海报，获得5位好友扫码支持后，公益使者的听课分钟数将会转换成2倍的捐赠费用。 *确认参与*
					</p>
				</li>
				<li>若是会员且没有名额（1000人已报名），<mark>不弹出提示</mark>；</li>
				<li>若是不是会员，不弹出提示；</li>
			</ul>
		</li>
		<li>今日学习情况：仪表盘的形式，每日目标为<mark>x百万</mark>分钟，显示当日学习时长；</li>
		<li>每日完成情况：共5天，标记出完成或未完成状态，下方显示当日捐赠金额。</li>
		<li>我的数据：
			<ul>
				<li>若用户为公益使者：显示排名、今日学习时长、累计捐赠、邀请按钮（点击后生成海报）、支持人数及特权获得情况；</li>
				<li>若用户为参与者：排名处替换为“公益使者名额已满”，显示今日学习时长、累计捐赠；</li>
				<li>若用户为支持者：显示<mark>该用户支持的好友</mark>的：排名、今日学习时长、累计捐赠、邀请按钮（点击后生成该好友的海报）、支持人数及特权获得情况；</li>
			</ul>
		</li>
		<li>公益使者排行榜：标题下显示“排名每15分钟更新，上次更新时间：8分钟前”，显示top100，分页显示，每页10人，点击“查看更多”后获取下一页；</li>
		<li>TPP介绍：一张图片</li>
		<li>相关故事（6月13日上线）：链接到新页面；</li>
	</ul>
	<h4>页面原型</h4>
	<img class="ui app image" src="img/prototype/emc/tpp/statistics.png" />

	<h4>排名</h4>
	<ul class="ui list">
		<li>仅1000名公益使者参与排名；</li>
		<li>按照公益使者6月12-16日<mark>总听课时长</mark>进行排名，排行榜中仅显示前100人；</li>
		<li>每个公益使者均需要知道自己的排名；</li>
		<li>排名无需实时显示，但显示的用户收听时长和排名时用的时长需要同步；</li>
	</ul>
	<h4>海报内容</h4>
	<p>pending...</p>
</div>

<h3>数据监控需求</h3>
<div>
	<h4>介绍页</h4>
	<ul class="ui list">
		<li>页面访问人数</li>
		<li>底部按钮点击量</li>
		<li>确认按钮点击量</li>
	</ul>
	<h4>数据页</h4>
	<ul class="ui list">
		<li>页面访问人数</li>
		<li>邀请按钮点击量</li>
		<li>查看更多按钮带你计量</li>
		<li>支持者总数</li>
	</ul>
	<h4>学习数据</h4>
	<ul class="ui list">
		<li>激活人数：5月12日到6月12日，累计听课时长少于30分钟，且6月12-16日听课时长超过10分钟的人数。</li>
		<li>6月12-16日平均听课时长</li>
		<li>6月12-16日总共活动参与人数</li>
		<li>6月12-16日日均活动参与人数</li>
	</ul>
	<h4>总结性数据</h4>
	<ul class="ui list">
		<li>城市</li>
		<li>行业</li>
		<li>城市</li>
	</ul>
</div>